﻿@model  TargetUrl
@{
    ViewData["Title"] = Resources.Home.Home.Finish_Page_Title;
}

    <div class="card border-0 rounded">
        <div class="card-header">
            <h2>@Resources.Home.Home.Here_Is_Your_Url</h2>
        </div>
        <div class="card-body m-lg-2">
            <h3>
                <a href="@Model.Url">@Model.Url </a>
            </h3>
        </div>
        <div class="card-footer">
            <h2>@Resources.Home.Home.Thank_You </h2>
        </div>
    </div>