﻿@model ShowViewModel
@{
    ViewData["Title"] = Resources.Home.Home.Shows_Page_Title;
}

<h2>@Resources.Home.Home.Which_Shows_Part_1 <u>@Resources.Home.Home.Which_Shows_Part_2</u> @Resources.Home.Home.Which_Shows_Part_3</h2>

<div class="d-flex justify-content-center">
    <form asp-action="BuildUrl" method="post">
        <div class="form-group text-left m-lg-5">
            <input type="hidden" name="base64Url" value="@Model.FeedInfo.SourceUrlBase64" />
            @foreach (var show in Model.Shows)
            {
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="selection" value="@show.Title">
                    @show.Title
                </label>
            </div>
            }
        </div>
        <div class="text-center">
            <input class="btn btn-primary" type="submit" value="@Resources.Home.Home.Submit_Button" />
        </div>
    </form>
</div>        