﻿
@{
    ViewData["Title"] = Resources.Home.Home.Main_Page_Title;
}

<h1>Patreon RSS Feed Filter</h1>
<div class="form-group">
    <form method="post" asp-action="FindContent">
        <div class="input-group mb-3 border-info">
            <input class="form-control form" id="textbox" type="text" name="url" placeholder="@Resources.Home.Home.Url_Placeholder" />
            <input class="btn btn-primary input-group-append" type="submit" name="submit" value="@Resources.Home.Home.Submit_Button" />
        </div>
    </form>
</div>