﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Patreon RSS Feed Filter - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>    
</head>
<body class="bg-white">
    <div class="container">
        <div class="row h-100 align-content-center m-lg-5">
            <div class="col">
                <div class="mx-md-auto my-md-auto card card-body text-center p-lg-2 border-info rounded bg-light">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
